body{
    background-color: darkgrey;
}
img{
    text-align: left;
    margin-right: 100%;
}
p {
    font-family: verdana;
    font-size: 15px;
  }
  h2{
    color: aquamarine;
  }
  p {
    text-indent: 50px;
    text-align: left 100%;
    letter-spacing: 1px;
  }
  h2 {
    text-align: right 100%;
    text-transform: uppercase;
  }
  h3{
    color: blue;
    font-size: 30px;
  }
  .conrainer
  {
    margin: 150px auto;
    width: 75%;
  
  }
  img{
    max-width: 350px;
    float: left;
    border-radius: 10px;
    border-right: 20px;
  }
  .text
  {
    text-align: justify;
    font-family: Verdana;
  }